<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.dao.UrlMapper">

    <insert id="insert" parameterType="com.cvte.po.Url">
        INSERT INTO sc_url_info (user_id, short_url, long_url)
        VALUES (#{userId}, #{shortUrl}, #{longUrl})
    </insert>

    <select id="selectLongUrlByShortUrl" parameterType="String" resultType="String">
        SELECT long_url
        FROM sc_url_info
        WHERE short_url = #{shortUrl} AND is_deleted = 0
    </select>

    <update id="increaseVisitCount" parameterType="String">
        UPDATE sc_url_info
        SET visit_count = (visit_count + 1)
        WHERE short_url = #{shortUrl)}
    </update>

    <select id="selectCreateReportByUserIdAndDate" resultType="com.cvte.po.UrlReport">
        SELECT
            COUNT(short_url)  AS count,
            DATE(create_time) AS date
        FROM sc_url_info
        WHERE
            user_id = #{userId} AND create_time BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(create_time)
    </select>

    <select id="selectVisitReportByUserIdAndDate" resultType="com.cvte.po.UrlReport">
        SELECT
        sum(visit_count)  AS count,
        DATE(create_time) AS date
        FROM sc_url_info
        WHERE
        user_id = #{userId} AND create_time BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(create_time)
    </select>
</mapper>