<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cvte.dao.UrlMapper">

    <insert id="insert" parameterType="com.cvte.po.Url">
        INSERT INTO sc_url_info (user_id, short_url, long_url)
        VALUES (#{userId}, #{shortUrl}, #{longUrl})
    </insert>

    <select id="selectLongUrlByShortUrl" parameterType="String" resultType="String">
        SELECT long_url
        FROM sc_url_info
        WHERE short_url = #{shortUrl} AND is_deleted = 0
    </select>

    <update id="increaseVisitCount" parameterType="String">
        UPDATE sc_url_info
        SET visit_count = (visit_count + 1)
        WHERE short_url = #{shortUrl)}
    </update>

    <select id="selectCreateReportByUserIdAndDate" resultType="com.cvte.po.UrlDateReport">
        SELECT
            COUNT(short_url)  AS count,
            DATE(create_time) AS date
        FROM sc_url_info
        WHERE
            user_id = #{userId} AND create_time BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(create_time)
    </select>

    <select id="selectVisitReportByUserIdAndDate" resultType="com.cvte.po.UrlDateReport">
        SELECT
            sum(visit_count)  AS count,
            DATE(create_time) AS date
        FROM sc_url_info
        WHERE
            user_id = #{userId} AND create_time BETWEEN #{startDate} AND #{endDate}
        GROUP BY DATE(create_time)
    </select>

    <select id="selectCreateAndVisitCountByUserId" parameterType="int" resultType="com.cvte.po.UrlTotalReport">
        SELECT
            count(url_id)    AS createShortUrlCount,
            sum(visit_count) AS visitShortUrlCount
        FROM sc_url_info
        WHERE user_id = #{userId}
    </select>

    <resultMap id="urlTotalReportMap" type="com.cvte.po.UrlTotalReport">
        <result column="userId" property="userId" javaType="INTEGER"/>
        <result column="createShortUrlCount" property="createShortUrlCount" javaType="INTEGER"/>
        <result column="visitShortUrlCount" property="visitShortUrlCount" javaType="INTEGER"/>
    </resultMap>

    <select id="selectCreateAndVisitCountByPage" parameterType="com.cvte.util.PageUtil"
            resultMap="urlTotalReportMap">
        SELECT
            user_id AS userId,
            count(url_id)    AS createShortUrlCount,
            sum(visit_count) AS visitShortUrlCount
        FROM sc_url_info
        WHERE user_id IN
              (SELECT t.user_id
               FROM
                   (SELECT user_id
                    FROM sc_user_info
                    WHERE is_deleted = 0
                    LIMIT #{dbIndex}, #{dbNumber}) AS t
              )
        GROUP BY user_id
    </select>

    <select id="selectBlackCreateAndVisitCountByPage" parameterType="com.cvte.util.PageUtil"
            resultMap="urlTotalReportMap">
        SELECT
        user_id AS userId,
        count(url_id)    AS createShortUrlCount,
        sum(visit_count) AS visitShortUrlCount
        FROM sc_url_info
        WHERE user_id IN
        (SELECT t.user_id
        FROM
        (SELECT user_id
        FROM sc_user_info
        WHERE is_deleted = 0 AND is_black = 1
        LIMIT #{dbIndex}, #{dbNumber}) AS t
        )
        GROUP BY user_id
    </select>

    <select id="selectAdminCreateAndVisitCountByPage" parameterType="com.cvte.util.PageUtil"
            resultMap="urlTotalReportMap">
        SELECT
        user_id AS userId,
        count(url_id)    AS createShortUrlCount,
        sum(visit_count) AS visitShortUrlCount
        FROM sc_url_info
        WHERE user_id IN
        (SELECT t.user_id
        FROM
        (SELECT user_id
        FROM sc_user_info
        WHERE is_deleted = 0 AND is_admin = 1
        LIMIT #{dbIndex}, #{dbNumber}) AS t
        )
        GROUP BY user_id
    </select>
</mapper>